body {
  background-color: lightblue;
}
h1 {
  font-weight: bold;
  color: green;
}
p {
  color: red;
  font-size: 14px;
  font-family: sans-serif;
}

#googleMap {
margin-top: 100px;
border: red 10px dotted;


}
